{% extends "pages/base_page_home.html" %}
{% block body %}
<!--VERIFICATION CHART-->
<script>
        var chart = AmCharts.makeChart("verification_chartdiv", {
            type: "serial",
            dataProvider: [ 
                {% for dash_data in verification_report %}
    {
        "week_days": "{{dash_data.days}}",
        "count": {{dash_data.total}}
    },
    {% else %}
      {
        "week_days": "",
        "count": 0

      },
      {% endfor %}
                
    ],    
            categoryField: "week_days",
            startDuration: 1,
            startEffect: "easeOutSine",
            valueAxes: [{
                axisAlpha: 0.15,
                minimum: 0,
                dashLength: 3,
                axisTitleOffset: 20,
                gridCount: 5,
                title: "Verification Report"
            }],
            graphs: [{
                valueField: "count",
                bullet: "circle",
                balloonText: "[[value]] verification request(s) per this day"
            }],
      "export": {
      "enabled": true,
      "libs": {
      "autoLoad": false
       }
      }
    });
    </script>

<!--VALIDATION CHART-->
<script>
        var chart = AmCharts.makeChart("validation_chartdiv", {
            type: "serial",
            dataProvider: [ 
                {% for dash_data in validation_report %}
    {
        "week_days": "{{dash_data.days}}",
        "count": {{dash_data.total}}
    },
    {% else %}
      {
        "week_days": "",
        "count": 0

      },
      {% endfor %}
                
    ],    
            categoryField: "week_days",
            startDuration: 2,
            valueAxes: [{
                axisAlpha: 0.15,
                minimum: 0,
                dashLength: 3,
                axisTitleOffset: 20,
                gridCount: 5,
                title: "Validation Report"
            }],
            graphs: [{
                valueField: "count",
                bullet: "circle",
                balloonText: "[[value]] validation request(s) per this day"
            }],
      "export": {
      "enabled": true,
      "libs": {
      "autoLoad": false
       }
      }
    });
    </script>
  <!-- <div class="myimg"><img src="{{ url_for( 'static', filename= 'imgs/place1.png') }}" width="80px" height="80px" alt="nsano_logo"></div>
  <div class="welcome" > <p>{{ userdata['first_name'] }} {{ userdata['last_name'] }}</p></div>
  <hr>
  <div class="last_lg"><p>Last Login: {{ userdata['last_login'] }}</p></div> -->
  <div class="container" style="margin-top: -6%; background-color: #e3e3e3">
      <center>
            <div class="loader" style="display: none;">
                    <div align="center" style="margin-bottom:15px;" class="">
                      <div class="-spinner-ring -error-"></div>
                      <h5><span class="msgAlertPlaceHolder"></span></h5>
                    </div>
            </div>
      </center>
    <div class="row">
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: inherit; font-weight: bolder; color: rgb(39, 144, 185); font-size: 15px">Upload Requests</div>
              <div class="panel-body" style="border-left: 3px solid rgb(39, 144, 185)">
                <div class="row" >
                    <div class="col-md-4">
                        <h5>Pending</h5>
                        <h4><span class="badge">{{ statistic['uploads'][0].pending }}</span></h4>
                  </div>
                  <div class="col-md-4">
                        <h5>Approved</h5>
                        <h4><span class="badge">{{ statistic['uploads'][0].approved }}</span></h4>
                  </div>
                  <div class="col-md-4">
                      <h5>Declined</h5>
                      <h4><span class="badge">{{ statistic['uploads'][0].declined }}</span> </h4>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: inherit; font-weight: bolder; color: green; font-size: 15px">Serials Validation</div>
              <div class="panel-body" style="border-left: 3px solid green">
                  <div class="row" >
                      <div class="col-md-6">

                            <h5>Validated</h5>
                            <h4><span class="badge">{{ statistic['validation'][0].validated }}</span></h4>

                      </div>
                      <div class="col-md-6">
                          <h5>Not Validated</h5>
                          <h4><span class="badge">{{ statistic['validation'][0].non_validated }}</span></h4>

                      </div>
                    </div>
              </div>
          </div>

      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: inherit; font-weight: bolder; color: darkorange; font-size: 15px">Serials Verification </div>
              <div class="panel-body" style="border-left: 3px solid darkorange">
                  <div class="row" >
                        <div class="col-md-6">
                                <h5>Successful</h5>
                                <h4><span class="badge">{{ statistic['verification'][0].validated }}</span></h4>
                          </div>
                          <div class="col-md-6">
                              <h5>Failed</h5>
                              <h4><span class="badge">{{ statistic['verification'][0].failed }}</span></h4>
                          </div>
                    </div>
              </div>
          </div>

      </div>

    </div>

    <!--CHART VERIFICATION AREA-->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: inherit">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="text-align: left; font-weight: bolder">Daily/ Weekly/ Monthly Statistics</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>Serials Verification</h5>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group" align="right">
                                        <label for="category" style="color:black; font-size:11px">Filter</label>
                                        <select class="form-control drp-select" id="mVerificationFilterBy" style=" color: darkorange; width:200px; border-radius:25px" onchange="updateChartView('verification')">
                                                <option value="daily">Daily</option>
                                                <option value="weekly" selected="selected">Weekly</option>
                                                <option value="monthly">Monthly</option>
                                        </select>
                                </div>
                        </div>
                    </div>

                </div> <!--END PANEL HEADING-->

                <div class="panel-body" style="height: 360px;">
                        <div id="verification_chartdiv" style="height: 350px;"></div>

                </div>


            </div>

        </div>

    </div> <!--END VERIFICATION CHART AREA-->

        <!--CHART VALIDATION AREA-->
        <div class="row" style="margin-top: -5%;">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: inherit">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 style="text-align: left; font-weight: bolder">Daily/ Weekly/ Monthly Statistics</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>Serials Validation</h5>
                                </div>
                                <div class="col-md-4">
                                        <div class="form-group" align="right">
                                                <label for="category" style="color:black; font-size:11px">Filter</label>
                                                <select class="form-control drp-select" id="mValidationFilterBy" style=" color: darkorange; width:200px; border-radius:25px" onchange="updateChartView('validation')">
                                                    <option value="daily">Daily</option>
                                                    <option value="weekly" selected="selected">Weekly</option>
                                                    <option value="monthly">Monthly</option>
                                                </select>
                                        </div>
                                </div>
                            </div>
        
                        </div> <!--END PANEL HEADING-->
        
                        <div class="panel-body" style="height: 360px;">
                                <div id="validation_chartdiv" style="height: 350px;"></div>

        
                        </div>
        
        
                    </div>
        
                </div>
        
            </div> <!--END VALIDATOIN CHART AREA-->
  </div>

{% endblock %}