<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for( 'static', filename= 'imgs/SSNIT-Logo.png') }}">

    <title>SSNIT</title> 

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for( 'static', filename= 'css/bootstrap.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for( 'static', filename= 'css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for( 'static', filename= 'css/cover.css') }}" rel="stylesheet">

    <!-- Loading styles for this template -->
    <link href="{{ url_for( 'static', filename= 'css/loading.css') }}" rel="stylesheet">
    <link href="{{ url_for( 'static', filename= 'css/flatpickr.min.css') }}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for( 'static', filename= 'js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="home-bkg" >

    <div class="site-wrapper">
        <div class="cover-container" align="center">

          <div style="margin-top:150px; margin-bottom:20px">
            <!-- <a href="/"><img src="{{ url_for( 'static', filename= 'imgs/logo_2.png') }}" width="150px" height="50px" alt="sic_logo"></a> -->
            <a href="/"><img src="{{ url_for( 'static', filename= 'imgs/SSNIT-Logo.png') }}" width="90px" height="90px" alt="sic_logo"></a>
          </div>

          <form id=loginForm>

            <div class="md-form">
                <label for="txtUsername" class="" style="color:black; font-size:11px">Username: </label>
                <input type="text" id="txtUsername" class="form-control" style="width:200px; border-radius:25px">
            </div>

            <div class="md-form" id="passwordForm" style="margin-top:20px;display:none;">
                <label for="txtPassword" class="" style="color:black; font-size:11px">Password: </label>
                <input type="password" id="txtPassword" class="form-control" style="width:200px; border-radius:25px">
            </div>

            <div class="md-form" id="forgotPasswordlink" style="margin-top:10px;display:none;">
                <a style="font-size: 12px" id="btnForgetPassowrd" href>Forgot Your Password?</a>
            </div>

            <div class="md-form" style="margin-top: 10px; width: 350px;">
                <div class="loader"></div>
                <div class="msgAlertPlaceHolder"></div>
            </div>

          </form>

        <form id=forgotPassForm style="display: none;">

            <div>
                <p style="color: #555; font-size: 12px;">Enter your username and a <br>new password will be generated and sent to you via email.</p>
            </div>

            <div class="md-form">
                <label for="txtUsername" class="" style="color:black; font-size:11px">Username: </label>
                <input type="text" id="txtUsernameforgot" class="form-control" style="width:200px; border-radius:25px">
            </div>

            <div class="md-form" style="margin-top: 10px; width: 350px;">
                <div class="loader"></div>
                <div class="msgAlertPlaceHolder"></div>
            </div>

            <div class="md-form" style="margin-top:20px;">
                <a style="font-size: 16px; padding-right: 10px;" id="btnSendCancel" href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span>Cancel</a>

                <a href style="font-size: 16px; padding-left: 10px;" id="btnSendPassowrd" href>Send Password<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span></a>
            </div>

        </form>

        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script> -->
    <script src="{{ url_for( 'static', filename= 'js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename= 'js/flatpickr.min.js') }}"></script>
        <script src="{{ url_for( 'static', filename= 'js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for( 'static', filename= 'js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for( 'static', filename= 'js/app.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtUsername").focus();
        });
    </script>

  </body>
</html>
